@inject NavigationManager? NavigationManager

@* @rendermode InteractiveServer *@

@if (server != null)
{
    <div data-name="@server.Name"
         data-status="@(server.IsOnline ? "online" : "offline")"
         style=" color:@(server.IsOnline ? "green" : "red")">
        <span style="min-width:250px;display:inline-block">@server.Name, @server.City, @(server.IsOnline ? "online" : "offline")</span>
        &nbsp;
        <button class="btn btn-primary" type="button" @onclick="()=>ChangeServerStatus()">Turn On/Off</button>
    </div>
}
else
{
    <p>No server data...</p>
}

@code {
    private Server? server { get; set; } =
    (ServersRepository.GetServerById(Random.Shared.Next(1, ServersRepository.GetServersMaxId() + 1))) ??
    ServersRepository.GetServerById(ServersRepository.GetServersMinId());

    private void ChangeServerStatus()
    {
        if (server != null)
        {
            this.server.IsOnline = !this.server.IsOnline;
            ServersRepository.UpdateServer(server.ServerId, server);
            NavigationManager?.NavigateTo("/servers", forceLoad: true);
        }
    }
}
